<article class="header fade-in-start" appScrollAnimation>
  <div class="container fade-in-start" appScrollAnimation>
    <div class="main-heading fade-in-start" appScrollAnimation>
      <div class="heading">
        <h2 class="line1">Simplified GST Accounting</h2>
        <p class="line2">
          Automatically generate journal & voucher entries, balance sheets,
          trial balance reports, P&L statements, GSTR reports, and other
          important financial reports with Refrens GST Accounting Software.
        </p>
        <div class="btns">
          <a routerLink="/register"> Get Started - It’s FREE </a>
        </div>
      </div>
    </div>
    <div class="image fade-in-start" appScrollAnimation>
      <img src="assets/image/invoice-dashboard.webp" alt="invoice-dashboard" />
    </div>
  </div>
</article>
